body {
    pointer-events: auto; 
    background-color: #1a202b;
}


main{
  top: 0px;
  overflow: hidden;
  position: fixed;
  color: #eeeeee;
  width: 100vw;
  height: calc(97vh - 80px);
  font-size: 3.2em;
  line-height: 1.1em;
  margin-top: 3vh;
}

.outside-div{
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
}
.content {
    margin :auto 0;
    position: relative;
}

.delete-page-button {
  position: absolute;
  top: 0;
  right: 0;
}

.new-page {
  height: inherit;
  overflow: auto;
  display: flex;
  margin:5vw;
}

.new-page .left{
  left: 100vw;
}

.new-page .right{
  left: -100vw;
}

#sidebar {
  font-family: Verdana, sans-serif;
  opacity: 0;
  color: #eeeeee;
  height: 100%;
  width: 300px;
  background-color: black;
  position: fixed;
  z-index: 1;
  top:0;
  right: -300px;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-button{
  transition: 0.5s;
  font-size: 35px; 
  background-color: #000000;
  border: none;
  color: #eeeeee;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  z-index: 5;
}


#nav-bar .my-button{
  padding: 0 10px;
  margin: 0 10px; 
}

#nav-bar #page-count-button{
  padding: 0 20px;
  min-width: 150px;
}


.my-button:hover:enabled {
  border-radius: 25px;
  color: #54a805;
  cursor: pointer;
}

.my-button:disabled {
  background-color: #949494;
}

footer{
 
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#nav-bar{
  position: fixed;
  height: 80px;
  bottom: 0;
  left: 25vw;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


#sidebar-button {
    z-index: 2;
    top: 5px;
    right: 5px;
    position: fixed;
    display: inline-block;
}


#page-list-div {
  overflow-y:auto;
  transition: 1s;
  position: fixed;
  width: 0; /* 0vw -> 70vw*/
  left: 50vw; /*50vw -> 15 vw */
  height: 0; /* 0vh -> 90vh*/
  bottom: 60px;
  background-color: black;
  border-radius: 10px;
}

#page-list{
  color: #eeeeee;
  transition: 1s;
  list-style-type: decimal;
  animation-timing-function: ease-in;
  list-style-position: inside;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
  margin-left: -40px;
}

#page-list li{
  transition: 0.5s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 1.5em;
  padding: 10px;
}

#page-list li:hover{
  transition: 0.5s;
  padding-left: 0.5s;
    border-radius: 5px;
    background-color: rgb(53, 49, 45);
    color:#54a805;
    cursor:pointer;
}

.block-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #eeeeee;
  margin-top: 5px;
  font-size: 40px;
  font-family: "'Source Sans Pro', sans-serif";
  font-weight: bold;
}

#close-page-list-button{
  padding-right: 10px;
}

.block-header div{
  align-self: center;
}

.slider {
    width: 90%;
}
.slider::-webkit-slider-thumb {
    cursor: pointer; /* Cursor on hover */
  }
  
.slider::-moz-range-thumb {
    cursor: pointer; /* Cursor on hover */
  }

.color-picker {
    background-color: black;
    color: #eeeeee;
}

.option-block {
    transition: 0.5s;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.option-block:hover {
    transition: 0.5s;
    border-radius: 5px;
    background-color: rgb(53, 49, 45);
}
.option-name {
    margin-left: 5%;
    align-self: flex-start;
    font-family: "'Source Sans Pro', sans-serif";
    font-size: 30px;
    color: #eeeeee;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-my-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border: 0px none #ffffff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #666666;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.instant-transitions {
    transition: 0s !important;
}

#loading {
  transition: opacity 1.5s ease-in-out;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #3F2A33;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

#char-count {
  position: absolute;
  z-index: 1;
  padding:10px;
  top:5px;
  left: 5px;
  font-family: Verdana;
  font-size: 20px;
}

#char-count-div {
  font-family: Verdana, sans-serif;
  font-size: 25px;
  opacity: 0;
  color: #eeeeee;
  height: 100%;
  width: 300px;
  background-color: black;
  position: absolute;
  z-index: 2;
  top:0;
  left: -300px;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: left;
  
}

#char-count-div .option-block {
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 260px;
}

#close-count-list {
  align-self: flex-end;
  padding: 10px;
}

#reset-char-button {
  margin-top: 5vh;
  width: 50%;
  background-color: #1a1717;
  align-self: center;
}

#stopwatch {
  display: flex;
  position: absolute;
  top:5px;
  left: 0;
  right: 0;
  font-size: 35px;
  flex-direction: row;
  align-items: center;
  max-width: 250px;
  margin: 0 auto;
}
 
#time {
  width: 80%;
  
  font-weight: bold;
  text-align: center;
  color: #fff;
}
