body {
    background-color: #1a202b;
}

.text-container{
    color: #eeeeee;
    width: 96vw;
    font-size: 3.2em;
    margin-left: 2vw;
    margin-bottom: 2vh;
    height: 45vh;
    font-family: "MS Gothic";
    line-height: 1.1em;
    overflow: auto;
    display: flex;
    align-content: center;
}

.content {
    margin :auto 0;
}

#sidebar {
    opacity: 0.96;
    color: #eeeeee;
    height: 100%;
    width: 0;
    background-color: black;
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#sidebar-button {
    opacity: 0.96;
    z-index: 2;
    transition: 0.5s;
    top: 5px;
    right: 5px;
    position: fixed;
    font-size: 2em; 
    background-color: #000000;
    border: none;
    color: #eeeeee;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

#sidebar-button:hover {
    transition: 0.25s;
    background-color: #080808;
    color: #54a805;
    cursor: pointer;
}